<div class="card p-justify-center">
    <div class="p-d-flex p-jc-center">
        <img [src]="councilLogoUrl" />
    </div>
    <div class="p-d-flex p-jc-center">
        <h2>Forgot Password</h2>
    </div>
    <div *ngIf="!submitted">
        <div class="p-d-flex p-jc-center">
            <h5>Input your HEC email ID to reset your password</h5>
        </div>
        <div class="p-d-flex p-jc-center">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    <input type="text" formControlName="userEmail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
                    <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.userEmail.errors.required">User email is required</div>
                    </div>
                </div>
                <div class="form-group p-m-2">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Reset Password
                    </button>
                </div>
                <div class="form-group p-m-2">
                    <a routerLink="/login" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="submitted" class="p-d-flex p-jc-center">
        <h5>Your password has been successfully reset! Please check your email for your new password.</h5>
    </div>
</div>