<div class="main-content">
    <div class="p-fluid">
        <div class="p-field" *ngIf="isUserSubmitter()">
            <p-button label="Add a new event" pRipple icon="pi pi-plus" styleClass="p-button-lg"
                (onClick)="onAddButtonClick()">
            </p-button>
        </div>

        <div class="card">
            <div class="header">
                <h4 class="title">Your approved events</h4>
                <p class="category">Here you can see events that are approved. They will show on the home screen
                    between the start time and end time.</p>
            </div>
            <p-table #etA [columns]="headerRowsFiltered" [value]="eventDataApproved"
                class="table table-hover table-striped" dataKey="eventId">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <input pInputText type="text" (input)="etA.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 2%"></th>
                        <th *ngFor="let col of columns">
                            {{col.name}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-event let-columns="columns" let-expanded="expanded">

                    <tr>
                        <td style="width: 1%">
                            <div type="button" pButton pRipple [pRowToggler]="event" styleClass="rowButton"
                                [icon]="expanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
                                (click)="onRowExpandClick(event)"></div>
                        </td>
                        <td *ngFor="let col of columns">
                            <span>{{event[col.field]}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td [attr.colspan]="headerRowsFiltered.length">
                            <h5>{{ product.eventDesc }}</h5>
                            <br>
                            <img [src]="eventPoster">
                            <br><br>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="headerRowsFiltered.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        <p-messages [(value)]="msgs"></p-messages>
        <div class="row">
            <div class="card col-md-12">
                <div class="header">
                    <h4 class="title">Your pending events</h4>
                    <p class="category">Here you can see events that are pending approval. They will show on the home
                        screen after approval from the Council.</p>
                </div>
                <p-table #etP [columns]="workflowHeaderRow" [value]="eventDataPending"
                    class="p-datatable-lg table table-hover table-striped" dataKey="workflowId">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <span class="p-input-icon-left p-ml-auto">
                                <input pInputText type="text"
                                    (input)="etP.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.name}}
                            </th>
                            <th style="width: 2%"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-event let-columns="columns" let-expanded="expanded">

                        <tr (click)="onRowEditClick(event)">
                            <td *ngFor="let col of columns">
                                <span>{{event[col.field]}}</span>
                            </td>
                            <td>
                                <div *ngIf="isUserSubmitter()">
                                    <p-button icon="fa fa-edit" (onClick)="onRowEditClick(event)">
                                    </p-button>
                                </div>
                                <div *ngIf="isUserReviewer()">
                                    <p-button icon="fa fa-edit" label="Approve/Reject"
                                        (onClick)="onApproveRejectClick(event)">
                                    </p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="headerRowsFiltered.length">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Errors in event!" [(visible)]="showErrorDialog" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p class="p-m-0">There are errors in the event being added/modified. Please fix the errors before submission.</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="showErrorDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showEventPopup" [style]="{width: '50%'}" [modal]="true" [closeOnEscape]="true"
    [header]="popupHeader" (onHide)="cleanInputModels()">
    <ng-template pTemplate>
        <div class="p-fluid">
            <div class="p-field p-d-flex">
                <label for="eventType">Event type</label>
                <input type="text" id="eventType" pInputText class="p-inputtext-lg" [disabled]="isUserReviewer()"
                    [(ngModel)]="chosenEvent.eventType" placeholder="Event Type">
            </div>

            <div class="p-field p-d-flex">
                <label for="eventName">Event name</label>
                <input type="text" id="eventName" pInputText [disabled]="isUserReviewer() || (isNotNullOrUndefined(chosenEvent.workflowId) && chosenEvent.workflowId != 0)"
                    [(ngModel)]="chosenEvent.eventName" placeholder="Event Name" class="p-inputtext-lg"
                    [ngClass]="{'p-error' : !isNotNullOrUndefined(chosenEvent.eventName) }" />

            </div>
            <div class="p-field p-d-flex">
                <label for="eventDesc">Event description</label>
                <textarea pInputTextarea id="eventDesc" class="p-inputtext-lg" [disabled]="isUserReviewer()"
                    placeholder="Event Description" [(ngModel)]="chosenEvent.eventDesc"></textarea>
            </div>
            <div class="p-formgrid p-grid p-d-flex">
                <div class="p-field p-col">
                    <label for="eventPartners">Event partners</label>
                    <input type="text" id="eventPartners" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.eventPartners" placeholder="Event Partners" class="p-inputtext-lg" />
                </div>
                <div class="p-field p-col">
                    <label for="eventLanguage">Event language</label>
                    <input type="text" id="eventLanguage" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.eventLanguage" placeholder="Event Language" class="p-inputtext-lg" />
                </div>
            </div>
            <div class="p-field">
                <label for="eventAddress">Event address</label>
                <input type="text" id="eventAddress" pInputText [disabled]="isUserReviewer()"
                    [(ngModel)]="chosenEvent.eventAddress" placeholder="Event Address" class="p-inputtext-lg" />
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="maxTargetAudience">Max target audience</label>
                    <input type="number" id="maxTargetAudience" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.maxTargetAudience" placeholder="Max target audience"
                        class="p-inputtext-lg" />
                </div>
                <div class="p-field p-col">
                    <label for="ticketPrice">Ticket price</label>
                    <input type="number" id="ticketPrice" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.ticketPrice" placeholder="Ticket price" class="p-inputtext-lg" />
                </div>
                <div class="p-field p-col">
                    <label for="ticketPurchaseLink">Ticket purchase link</label>
                    <input type="text" id="ticketPurchaseLink" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.ticketPurchaseLink" placeholder="Ticket purchase link"
                        class="p-inputtext-lg" />
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="eventStartTime">Event start time</label>
                    <p-calendar id="eventStartTime" showTime="true" hourFormat="24" [disabled]="isUserReviewer()" aria-describedby="startTime-help"
                        [(ngModel)]="chosenEvent.eventStartTime" class="p-inputtext-lg"
                        placeholder="Event start time (cannot be empty)">
                    </p-calendar>
                    <small *ngIf="!isNotNullOrUndefined(chosenEvent.eventStartTime)" id="startTime-help"
                        class="p-invalid">Event start time is invalid.</small>
                </div>
                <div class="p-field p-col">
                    <label for="eventEndTime">Event end time</label>
                    <p-calendar id="eventEndTime" showTime="true" hourFormat="24" [disabled]="isUserReviewer()" [(ngModel)]="chosenEvent.eventEndTime"
                        aria-describedby="endTime-help" class="p-inputtext-lg"
                        placeholder="Event end time (must be greater than start time)">
                    </p-calendar>
                    <small *ngIf="!isEventEndTimeValid(chosenEvent.eventStartTime, chosenEvent.eventEndTime)"
                        id="endTime-help" class="p-invalid">Event end time is invalid.</small>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="eventRegistrationStartTime">Event registration start time</label>
                    <p-calendar showTime="true" hourFormat="24" id="eventRegistrationStartTime" [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.eventRegistrationStartTime" class="p-inputtext-lg"
                        placeholder="Event registration start time">
                    </p-calendar>
                </div>

                <div class="p-field p-col">
                    <label for="eventRegistrationEndTime">Event registration end time</label>
                    <p-calendar id="eventRegistrationEndTime" showTime="true" hourFormat="24" [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.eventRegistrationEndTime" class="p-inputtext-lg"
                        placeholder="Event registration end time">
                    </p-calendar>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="facebookLink">Facebook link</label>
                    <input type="text" id="facebookLink" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.facebookLink" placeholder="Facebook link" class="p-inputtext-lg" />
                </div>
                <div class="p-field p-col">
                    <label for="instagramLink">Instagram link</label>
                    <input type="text" id="instagramLink" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.instagramLink" placeholder="Instagram link" class="p-inputtext-lg" />
                </div>
                <div class="p-field p-col">
                    <label for="twitterLink">Twitter link</label>
                    <input type="text" id="twitterLink" pInputText [disabled]="isUserReviewer()"
                        [(ngModel)]="chosenEvent.twitterLink" placeholder="Twitter link" class="p-inputtext-lg" />
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col" *ngIf="isUserSubmitter() || isUserReviewer()">
                    <label for="dateToShare">Date to share on official SM handles </label>
                    <p-calendar id="dateToShare" [disabled]="isUserReviewer()" [(ngModel)]="chosenEvent.dateToShare"
                        placeholder="Date to share on official SM handles">
                    </p-calendar>
                </div>
            </div>
            <div class="p-field">
                <label for="host">Club Name </label>
                <input type="text" id="host" pInputText placeholder="Club Name" class="p-inputtext-lg" [disabled]="true"
                    [(ngModel)]="chosenEvent.host" />
            </div>
            <div class="p-field" *ngIf="eventPoster">
                <p-inplace>
                    <ng-template pTemplate="display">
                        <p-button label="Click to view uploaded poster" styleClass="p-button-lg"></p-button>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="p-d-flex p-jc-center">
                            <img [src]="eventPoster" alt="No poster has been uploaded." />
                        </div>
                    </ng-template>
                </p-inplace>
            </div>
            <div class="p-field">
                <label for="eventPoster">Upload/update poster for event</label>
                <p-fileUpload id="eventPoster" *ngIf="isUserSubmitter()" customUpload="true"
                    (uploadHandler)="myUploader($event)" accept="image/*" maxFileSize="1000000" [auto]="true">
                    <ng-template pTemplate="content">
                        <p *ngIf="!fileUploadedForPoster">Your files go here</p>
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="p-field" *ngIf="isNotNullOrUndefined(chosenEvent.reviewComments)">
                <label for="reviewComments">Comments from reviews</label>
                <textarea id="reviewComments" pInputTextarea class="p-inputtext-lg" placeholder="Review Comments"
                    [(ngModel)]="chosenEvent.reviewComments"></textarea>
            </div>
            <div class="p-field" *ngIf="isUserSubmitter()">
                <p-button *ngIf="!isRowEdit" label="Add New Event" icon="pi pi-plus" styleClass="p-button-lg"
                    (onClick)="addNewEvent()">
                </p-button>
                <p-button *ngIf="isRowEdit" label="Update Event" [style]="{background:'grey'}" styleClass="p-button-lg"
                    (onClick)="updateEventWorkflow()">
                </p-button>
            </div>

            <div class="p-formgrid p-grid" *ngIf="isUserReviewer()">
                <div class="p-field p-col">
                    <p-button label="Approve" [style]="{background:'green'}" (onClick)="approveEvent()">
                    </p-button>
                </div>
                <div class="p-field p-col">
                    <p-button label="Reject" [style]="{background:'red'}" (onClick)="rejectEvent()">
                    </p-button>
                </div>
                <div class="p-field p-col">
                    <p-button label="Update" [style]="{background:'grey'}" (onClick)="updateEventWorkflow()">
                    </p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>